__pycache__/
.git/
.gitignore
.editorconfig
.env.template
.pre-commit-config.yaml
.env
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
venv/
assets/
scripts/
tests/
docker-compose.yaml
README.md
LICENSE
